
// # ONLY VARIABLES HERE #/

// Breakpoints
/* https://github.com/sass-mq/sass-mq */
$mq-breakpoints: (
  mobile: 640px,
  tablet: 768px,
  desktop: 1024px,
  desktop_plus: 1025px,
  small: 1280px,
  wide: 1366px,
  xlarge: 1440px,
  hd: 1920px
);

// Fonts
$font-body: 'Questrial', sans-serif;
$font-title: 'Montserrat', sans-serif;


// Responsive types scale
// Perfect Fourth Scale (1.333)
// https://medium.com/sketch-app-sources/exploring-responsive-type-scales-cf1da541be54
$p-size: 16px;

$h6-size-mobile: 20px;
$h6-size-desktop: 17px;

$h5-size-desktop: 25px;
$h5-size-mobile: 22px;

$h4-size-desktop: 31.25px;
$h4-size-mobile: 28.25px;

$h3-size-desktop: 39px;
$h3-size-mobile: 36px;

$h2-size-desktop: 49.25px;
$h2-size-mobile: 46.25px;

$h1-size-desktop: 61.5px;
$h1-size-mobile: 58.5px;


// Colors
//$white: #FAF5EF;
$white: #F3F3F3;
$black: #1A1A1A;
$red: #F25D61;

// Z-Index
$foreground: 1000;
$beforefg: 999;
$up: 100;
$normal: 0;
$down: -100;
$beforebg: -999;
$background: -1000;

